PORT=5000
MONGODB_URI=mongodb://localhost:27017/soundsnap
JWT_SECRET=change_this_to_a_random_secret

ACRCLOUD_HOST=identify-ap-southeast-1.acrcloud.com
ACRCLOUD_ACCESS_KEY=your_access_key
ACRCLOUD_ACCESS_SECRET=your_access_secret
